body {
	background-color: #748BA7;
}

.img-rounded{
	max-width: 400px;
	max-height: 400px;
}


.img-thumbnail{
	max-width: 400px;
	max-height: 150px;
	padding: 15px;
}

.proj { 
	background: #D4AC6A; 
	text-align: center;
	border-style: groove;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

.topic{
	background: #FFDFAA;
	border-style: groove;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

footer { 
	padding-top: 100px;
	font-style: italic;
	text-align: center;
}

#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #FFDFAA;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/**/
@media (max-width:767px) {

    #wrapper {
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: relative;
      left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 250px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }

}